{% extends 'base.html' %}
{% load static %}
{% block header %}
    {% include "header.html" %}
{% endblock header %}

{% block title %} {{question.question_name}} | {{site_name}}{% endblock %}


{% block content %}

<style>
    .button:focus{
        box-shadow:none !important;
    }
</style>

<section class="container-fluid px-0">
    <p class="text-center language_color py-1 fs-4"><a class="text-decoration-none text-white border-bottom" href="/problems"><i class="fa-solid fa-house text-white"></i> DSA Question and Solution</a></p>
   <div class="d-flex justify-content-center">
   <div class="col-md-11">
    <div class="row">
        <div class="col-md-6 bg-white p-0">
           <!-- Body of content -->
           <div class="bg-white p-4">
            {% if question %}
                <div class="">
                    <div class="d-flex justify-content-between">
                        <h2 class="mb-4"><span class="text-muted">#</span> {{question.question_name}}</h2>
                        {% if question.c_language or question.cpp_language or question.javascript or question.java or question.python %}
                        {% comment %} <a href="#view-code" class="text-decoration-none fs-5"><i class="fa-regular fa-eye"></i> View Code</a> {% endcomment %}
                        {% endif %}
                    </div>
                    <div>{{question.description | safe}}</div>
                </div>
            {% endif %}
           </div>
        </div>

        <div class="col-md-6">
           <div class="p-2">
                {% if question.c_language or question.cpp_language or question.javascript or question.java or question.python %}
                <div class="p-2 text-center" id="view-code">
                    {% if question.c_language %}<button class="btn button btn-outline-primary position-relative mb-1 {% if Choose_one.name == 'c_language' %}active{% endif %}" id="c_language_btn">C language</button>{% endif %}

                    {% if question.cpp_language %}<button class="btn button btn-outline-primary position-relative mb-1 {% if Choose_one.name == 'cpp_language' %}active{% endif %}" id="cpp_language_btn">C++ Language</button>{% endif %}

                    {% if question.java %}<button class="btn button btn-outline-primary position-relative mb-1 {% if Choose_one.name == 'java' %}active{% endif %}" id="java_btn">Java</button>{% endif %}

                    {% if question.javascript %}<button class="btn button btn-outline-primary position-relative mb-1 {% if Choose_one.name == 'javascript' %}active{% endif %}" id="javascript_btn">JavaScript</button>{% endif %}

                    {% if question.python %}<button class="btn button btn-outline-primary position-relative mb-1 {% if Choose_one.name == 'python' %}active{% endif %}" id="python_btn">Python</button>{% endif %}
                </div>
                {% endif %}

                <!--default-->
                {% if Choose_one %}
                <div id="default_content">
                    <div class="{{Choose_one.class}}">{{Choose_one.language | safe}}</div>
                </div>
                {% endif %}

                <div id="view_content">
                    <div style="display:none" id="c_language_box">
                        <div class="language-c" id="c_language_content">{{question.c_language | safe}}</div>
                    </div>

                    <div style="display:none" id="cpp_language_box">
                        <div class="language-cpp" id="cpp_language_content">{{question.cpp_language | safe}}</div>
                    </div>

                    <div style="display:none" id="javascript_box">
                        <div class="language-javascript" id="javascript_content">{{question.javascript | safe}}</div>
                    </div>

                    <div style="display:none" id="java_box" class="language-java">
                        <div class="language-java" id="java_content">{{question.java | safe}}</div>
                    </div>
                    
                    <div style="display:none" id="python_box" class="language-python">
                        <div class="language-python" id="python_content">{{question.python | safe}}</div>
                    </div>
                </div>
           </div>
        </div>
    </div>
   </div>
   </div>
</section>

<script>
    // dsa questions  
    $(document).ready(function(){
        // Define language content and boxes
        const languages = [
            { 
                content: document.getElementById("c_language_content"), 
                box: document.getElementById("c_language_box"), 
                btn: document.querySelector('#c_language_btn') 
            },
            { 
                content: document.getElementById("cpp_language_content"), 
                box: document.getElementById("cpp_language_box"), 
                btn: document.querySelector('#cpp_language_btn') 
            },
            { 
                content: document.getElementById("javascript_content"), 
                box: document.getElementById("javascript_box"), 
                btn: document.querySelector('#javascript_btn') 
            },
            { 
                content: document.getElementById("java_content"), 
                box: document.getElementById("java_box"), 
                btn: document.querySelector('#java_btn') 
            },
            { 
                content: document.getElementById("python_content"), 
                box: document.getElementById("python_box"), 
                btn: document.querySelector('#python_btn')
             }
        ];

        // Function to hide all language boxes
        function hideAllBoxes() {
            languages.forEach(lang => {
                lang.box.style.display = "none";
            })
        }
    
        // Add click event listeners to language buttons
        languages.forEach(lang => {
            if(lang.content.innerHTML !== '') {
                lang.btn.addEventListener("click", function () {
                    hideAllBoxes();
                    lang.box.style.display = "block";
                    document.getElementById("default_content").style.display = "none"
                    
                    languages.forEach(element => {
                        if(element.content.innerHTML !== '') {
                            if((lang.btn.getAttribute('id') == element.btn.getAttribute('id'))){
                                element.btn.classList.add("active")
                            }else{
                                element.btn.classList.remove("active")
                            }
                        }
                    });
                });
            }
        });
    
        // Initial hide for all boxes
        hideAllBoxes();
    });

</script>

{% endblock content %}
