@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

html,body {
  /* font-size: 62.5%;
  1rem = 10px */
  overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6{
  font-family:sans-serif !important;
  font-weight: 700;
}


.main-title {
  text-transform: uppercase;
  letter-spacing: 6px;
}

/*========== Slider =============*/

.rtw-header-slider{
  position: relative;
  width: 100%;
}
.rtw-header-slider .rtw-banner-text{
  position: absolute;
  top: 27%;
  width: 100%;
}

/* 991px  */
@media (min-width: 991px) { 
  .site_header_name span{
    font-size: 70px;
  }
  .rtw-banner img{
    height: 400px;
  }
}

.language_color{
  background-color: cadetblue;
    color: #fff;
    font-family: sans-serif;
}

/*================ Siderbar ==============*/
.siderbar_btn{
  list-style: none;
}
.siderbar_btn a{
  color: #ddd;
  text-decoration: none;
  display: block;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  padding-left: 10px;
}
.siderbar_btn a:hover{
  cursor: pointer;
  background: repeating-linear-gradient(45deg, black, #00000082 100px);
}
.siderbar_btn .arrow{
  float: right;
  font-size: 2rem;
}

.card-blog-post{
  border: none !important;
}
.rtw-border-bottom{
  border-bottom:1px solid #ddd;
}
.rtw-border-bottom:last-child{
  border-bottom:none;
}
/*====== Color Picker =========*/

span.copyText {
    margin-left: -110px;
    position: fixed;
    padding: 5px 30px 5px 30px;
    color: #fff;
    font-size: 19px;
    z-index: 999;
    top: 70px;
}

/*========== tools card ===========*/
.card:hover{
  box-shadow: 0px 0px !important;
}
.card-link{
  overflow-x: hidden;
  text-decoration: none;
  color: #000;
}

/*============ Generate password =============*/
.i_button{
    background-color: #00000075;
    padding: 1px 7px;
    border-radius: 50%;
    color: #ddd;
}

/*=================================================== 
                        BLogs
====================================================*/
.blog-post-btn:hover{
  color: red !important;
}                        

/*============ Comments ================*/
.rtw_input_box{
  padding: 10px;
}
.rtw_input_box:focus{
  border-color: #000;
  box-shadow: none;
  background-color: #dddddd80;
}
.rtw_input_box::placeholder{
  color: rgb(4, 163, 190);
  top:0;
}
.rtw_visited_link{
  font-size: 14px;
}
.rtw_visited_link:visited{
  color: blue !important;
}

/*======= Quotes ===========*/
.quote-like-dislike-btn {
  padding: 13px 10px 6px 10px;
}

/*============ Portfolio ==============*/
.portfolio-card{
  position: relative;
  box-shadow: 0px 0px 9px #000;
    border-radius: 15px;
}
.rtw-portfolio-image{
  border-radius: 15px;
}
.rtw-display-none{
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
}
.rtw-portfolio-text{
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #ffffff8c;
}
.rtw-portfolio-text a{
  text-decoration: none;
    color: #000483;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    background-color: #ffffffde;
    border-radius: 20px;
    line-height: 25px;
    padding-top: 8px;
}
.rtw-display-none:hover{
 opacity: 1;
}

.toggle_btn{
    background: #000;
    padding: 3px 5px 0px 5px;
    color: #fff;
    cursor: pointer;
}

.toggle_show{
  width: 0 !important;
}
@media (min-width:768px){
  .toggle_btn{
    display: block;
  }
  .left-sidebar-btn{
    display: none;
  }
}

@media (max-width:767px) {
  .left_side_bar{
    position: absolute;
    z-index: 999;
  }
  .dsa_main_container{
    position: relative;
    
  }
  .toggle_btn{
    display: none;
  }
  .d-flex.justify-content-between.align-items-center.flex-wrap.me-3 {
    margin-left: 70px;
    text-align: center;
}

  .left-sidebar-btn{
      display: block;
    }
}

.active::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 105%;
    transform: translate(-50%, -50%);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #0d6efd; 
  
}

.position_sticky{
  position: sticky;
  z-index: 2;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}