{% load static %}
<footer style="background: linear-gradient(45deg, black, #025b64);">
    <div class="container py-5">
       <div class="row text-white">
          <div class="col-md-6">
            <h2 class="fs-3">IT Services</h2>
            <p class="">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores laudantium facilis reprehenderit. Facilis vitae ducimus maiores accusamus voluptatem delectus, hic ullam sed culpa quo libero quae, similique sequi fugit architecto dolore ab amet unde asperiores officia ut! Ad consequuntur..</p>
          </div>
          <div class="col-md-3">
            <h2 class="fs-3">Links</h2>
            <ul class="">
               <li class="list-unstyled"><a class="text-decoration-none text-light" href="#">Home</a></li>
               <li class="list-unstyled"><a class="text-decoration-none text-light" href="#">Home</a></li>
               <li class="list-unstyled"><a class="text-decoration-none text-light" href="#">Home</a></li>
               <li class="list-unstyled"><a class="text-decoration-none text-light" href="#">Home</a></li>
               <li class="list-unstyled"><a class="text-decoration-none text-light" href="#">Home</a></li>
               <li class="list-unstyled"><a class="text-decoration-none text-light" href="#">Home</a></li>
               <li class="list-unstyled"><a class="text-decoration-none text-light" href="#">Home</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h2 class="fs-3">Links</h2>
            <ul class="">
               <li class="list-unstyled"><a class="text-decoration-none text-light" href="#">Home</a></li>
               <li class="list-unstyled"><a class="text-decoration-none text-light" href="#">Home</a></li>
               <li class="list-unstyled"><a class="text-decoration-none text-light" href="#">Home</a></li>
               <li class="list-unstyled"><a class="text-decoration-none text-light" href="#">Home</a></li>
               <li class="list-unstyled"><a class="text-decoration-none text-light" href="#">Home</a></li>
               <li class="list-unstyled"><a class="text-decoration-none text-light" href="#">Home</a></li>
               <li class="list-unstyled"><a class="text-decoration-none text-light" href="#">Home</a></li>
            </ul>
          </div>
       </div>
    </div>
    <div class="p-2 bg-dark text-white text-center">
      <span>© 2021 All Rights Reserved By</span>
    </div>
</footer>
 
 