{% extends 'base.html' %}
{% block header %}
    {% include "header.html" %}
{% endblock header %}
{% load static %}

{% block title %}Generate password | {{site_name}}{% endblock %}


{% block content %}
<!-- Left Siderbar  -->
    <section>
        <div class="row">
            <div class="col-md-3">
                
                {% include 'apps/left-sidebar.html' %}

            </div>
            <div class="col-md-9 mb-3 tool-content">
                <div class="px-3">
                    <h2 class="py-5">Generate Password</h2>
                    <div class="col-md-10 bg-light p-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <span id="show-password" class="fs-3 bg-light p-1">{{password}}</span>
                                    </div>
                                    <div>
                                        <span onclick="passwordCopy()"><i class="fa-regular fa-copy fs-2 mt-1"></i></span>
                                    </div>
                                </div>
                                <div>
                                    <p class="mt-2 ms-2 bg-success text-white text-center fs-2" id="copyText"></p>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-primary my-2" id="generate-button">Generate Password</button>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h2>Customize your password</h2>
                                <div class="row">
                                    <div class="col-md-4 mb-3">
                                        <p>Password length</p>
                                        <input class="p-2 text-center" type="number" name="pass-length" value="8" style="width:50px;height:50px">
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div>
                                            <input class="my-3" type="radio" name="chooseRadio" id="read"> Easy to say <span class="i_button" title="Avoid numbers and special characters">i</span><br>
                                            <input class="my-3" type="radio" name="chooseRadio" id=""> Easy to read <span class="i_button" title="Avoid ambiguous characters like l, 1, O, and 0">i</span><br>
                                            <input class="my-3" type="radio" name="chooseRadio" id=""> All characters <span class="i_button" title="Any character combinations like !, 7, h, K, and l1">i</span><br>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div>
                                            <input class="my-3" type="checkbox" name="" id=""> Uppercase <br>
                                            <input class="my-3" type="checkbox" name="" id=""> Lowercase <br>
                                            <input class="my-3" type="checkbox" name="" id=""> Numbers <br>
                                            <input class="my-3" type="checkbox" name="" id=""> Symbols <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}