{% extends 'base.html' %}
{% load static %}
{% block header %}
    {% include "header.html" %}
{% endblock header %}
{% block title %}{{site_name}}{% endblock %}


{% block content %}
<!-- product section -->
{% include 'apps/slider.html' %}

<!-- Blogs -->
<section class="bg-light w-100">
    <div class="container py-4">
        <div class="row gy-4">
            {% if home_blog %}
            {% for data in home_blog %}
            <div class="col-md-4">
                <a class="text-dark text-decoration-none" href="{% url 'blog-detail' slug=data.slug %}">
                <div class="card text-start h-100 shadow-sm">
                  <img class="card-img-top" height="300" src="{{data.image.url}}" alt="{{data.title}}">
                  <div class="card-body">
                    <h4 class="card-title fs-5">{{data.title}}</h4>
                    <p class="card-text">{{data.sub_title|slice:150}}...</p>
                  </div>
                </div>
            </a>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <p class="text-center mt-3">
            <a class="btn btn-primary px-3 p-2" href="/blogs">Read More</a>
        </p>
    </div>
</section>


 <!-- end subscribe section -->
{% endblock content %}