{% extends 'apps/base.html' %}
{% load static %}
{% block content %}
<!-- product section -->
{% include 'apps/slider.html' %}


<!-- Our Services -->
<section class="bg-light py-5" id="our-services">
    <div class="py-5 text-center">
        <h1 class="main-title mb-5">Our Services</h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card h-100">
                    <img class="100" src="{% static 'images/service1.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h2 class="text-uppercase text-center fs-6 mt-2 mb-3">Static website development</h2>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.bulk of the card's content bulk of the card's content</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100">
                    <img class="100" src="{% static 'images/service2.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h2 class="text-uppercase text-center fs-6 mt-2 mb-3">Dynamic website development</h2>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100">
                    <img class="100" src="{% static 'images/service3.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h2 class="text-uppercase text-center fs-6 mt-2 mb-3">Email marketing development</h2>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>

<!-- Web serices -->
<section class="py-5 bg-dark">
    <div class="text-light text-center" style="margin-top:5rem;margin-bottom:5rem;">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h1 class="fs-3 mb-3">Are you looking for Web Services?</h1>
                <p class= "">We provide Front-line Digital Transformation Services with Custom Application Development, IT Infrastructure Consulting, Security and Support, Web Development, Bulk SMS, Software Development, Mobile Application Development, Advanced Mobility Solutions and Digital Marketing Services for startups and enterprises of all sizes.</p>
            </div>
        </div>
    </div>
</section>

<!-- Our Portfolio -->
<section class="bg-light py-5" id="our-portfolio">
    <div class="py-5 text-center">
        <h1 class="main-title mb-5">Our Portfolio</h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card h-100">
                    <img class="100" src="{% static 'images/service2.jpg' %}" class="card-img-top" alt="...">
                  </div>
            </div>
            <div class="col-md-6">
                <div class="card h-100">
                    <img class="100" src="{% static 'images/service3.jpg' %}" class="card-img-top" alt="...">
                  </div>
            </div>
        </div>
    </div>
</section>

<!-- About section -->
<section class="bg-white py-5" id="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="py-5 text-center">
                    <h1 class="main-title">About us</h3>
                </div>
                <div class="" style="text-align:justify; margin-bottom:10rem">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi corrupti dolorem optio atque? Incidunt odio, iste facere minima non aliquid modi earum veritatis, ut sint error, adipisci magni. Similique veniam provident quis minima a. Doloremque eius doloribus mollitia itaque consequuntur quaerat, nostrum et modi inventore molestias cum, distinctio iusto dignissimos esse cumque quo, aliquam nulla impedit perspiciatis quos ratione labore! Vitae cum veritatis ipsum incidunt reiciendis, pariatur vel eveniet voluptatem amet nam reprehenderit, odit quod dolorum voluptates atque, sint et nobis possimus tempora corrupti ex ea aut repudiandae eaque. Officiis alias nemo, quasi corrupti libero, at ut laudantium eveniet eaque quo nam!</p>
                    <p> Dolores alias natus incidunt mollitia rem cum at quis vero illum sint, corporis modi deleniti voluptatum. Quam neque dicta enim natus quo impedit, architecto non reprehenderit fuga deserunt beatae reiciendis aliquid eaque dolorem! Autem sapiente atque necessitatibus quas hic incidunt non illum alias corporis laborum? Sed deleniti maiores cumque ad vel rerum expedita earum, aspernatur nulla accusantium corrupti repellat modi. Eligendi fugiat quam dicta beatae at doloribus voluptatem. Eos voluptate repudiandae fugiat, laboriosam praesentium est voluptas fugit explicabo quaerat! Commodi hic corrupti cumque eligendi, vitae id officia repudiandae ipsa fugit fugiat quos accusantium dolor dignissimos illum eius nemo?</p>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Contact Us -->
<section class="bg-light py-5" id="contact-us">
    <div class="container">
        <div class="py-5 text-center">
            <h1 class="main-title">contact us</h3>
        </div>
        {% for message in messages %}
        <div class="alert alert-info mt-2 text-center" role="alert">
            {{message}}
        </div>
        {% endfor %}
            <form action="" method="post">
                {% csrf_token %}
                <div class="row py-4 fs-6">
                    <div class="col-md-6 mt-3">
                        <input class="form-control fs-6 py-3 mb-3" type="text" name="name" placeholder="ENTER YOUR NAME" required>
                        <input class="form-control fs-6 py-3 mb-3" type="email" name="email" placeholder="ENTER YOUR EMAIL" >
                        <input class="form-control fs-6 py-3 mb-3" type="number" name="mobile" placeholder="ENTER YOU MOBILE" required>
                    </div>
                    <div class="col-md-6">
                        <textarea class="mt-3 px-1" name="comment" cols="54" rows="8" placeholder="ENTER YOUR MESSAGE" style="border:1px solid #ddd" required></textarea>
                    </div>
                    <div class="w-100 text-center">
                        <input type="submit" class="btn btn-danger fs-6 mt-3 text-uppercase " name="submit" value="Submit">
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

 <!-- end subscribe section -->
{% endblock content %}