<div class="d-sm-block d-md-block d-lg-none p-2">
  <button id="left-sidebar-btn" onclick="LeftSideBarOpen()"><i class="fa-solid fa-bars"></i></button>
</div>
<div class="p-2 h-100 d-lg-block LeftSideBar" id="LeftSideBar" style="background: linear-gradient(30deg, black, #025b64);">
    <div class="float-end">
        <button class="d-lg-none d-xl-none" id="close-btn" onclick="LeftSideBarClose()"><i class="fa-solid fa-xmark"></i>
    </button>
    </div>
    <ul class="text-white p-0">
        <li class="siderbar_btn"><a class="fs-5" href="/tools"> All Tools </a></li>
        <li class="siderbar_btn"><a class="fs-5" href=""> Box Shadow </a></li>
        
        <li class="siderbar_btn">
            <a class="fs-5" href="#" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> Image Compressor 
                <ion-icon class="arrow" name="chevron-down-outline"></ion-icon>
            </a>
            <div id="collapseOne" class="accordion-collapse collapse rounded-1" aria-labelledby="headingOne" style="background:#05a8ef1a">
                <ul class="accordion-body p-0" >
                    <li class="list-unstyled"><a class="ps-3" href="#"> PNG Compressor </a></li>
                    <li class="list-unstyled"><a class="ps-3" href="#"> JPG Compressor </a></li>
                    <li class="list-unstyled"><a class="ps-3" href="#"> JPEG Compressor </a></li>
                </ul>
            </div>
        </li>
        <li class="siderbar_btn">
            <a class="fs-5" href="/add-watermark"> Add watermark on image </a>
        </li>
        <li class="siderbar_btn">
            <a class="fs-5" href="/word-count"> Word Count </a>
        </li>
        <li class="siderbar_btn">
            <a class="fs-5" href="/color-picker"> Color picker </a>
        </li>
    </ul>
</div>