{% load static %}

<section>
    <div class="rtw-header-slider">
        <div class="rtw-banner">
            <img class="w-100" height="601" src="{% static 'images/banner/banner.JPG' %}" alt="real tech world">
        </div>
        <div class="rtw-banner-text">
            <div class="d-flex justify-content-center p-2">
                <div class="col-md-10">
                    <p class="text-white fs-4">This is our portfolio website we are provide services that design, develop, and maintain websites. These services can include the creation of custom websites, redesigns of existing websites, ongoing maintenance and updates, and the integration of additional features such as e-commerce, social media, and analytics.</p>
                </div>
            </div>
            <div class="text-center mt-3">
                <a class="btn btn-outline-light me-2 fs-3 rounded-0 px-5" href="/blogs">Blogs</a>
                <a class="btn btn-outline-light fs-3 rounded-0 px-5" href="/tools">Tools</a>
            </div>
        </div>
    </div>
</section>