{% load static %}

<section>
    <div class="rtw-header-slider">
        <div class="rtw-banner">
            <img class="w-100" src="{% static 'images/banner/banner.JPG' %}" alt="real tech world" loading="lazy" />
        </div>
        <div class="rtw-banner-text">
            <div class="col-md-12">
                <div class="d-flex justify-content-center">
                    <div>
                        <h1 class="site_header_name">
                            <span class="text-white">Real Tech</span> <span style="color:#27ddca;">World</span>
                        </h1>
                        <p class="text-center">
                            <a class="btn btn-primary px-3 p-2" href="/blogs">Get Started</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>