{% load static %}

{% if objects %}
{% for data in objects %}
<div class="card-blog-post mb-3">
    <a class="text-dark text-decoration-none" href="{% url 'blog-detail' slug=data.slug %}">
        <div class="card-body">
            <div class="row">
                {% if data.image %}
                <div class="col-md-3">
                    <img class="w-100" src="{{data.image.url}}" alt="{{data.title}}" loading="lazy" />
                </div>
                {% else %}
                <div class="col-md-3">
                    <img class="w-100" src="{% static 'images/image-not-available.png' %}" alt="{{data.title}}" loading="lazy" />
                </div>
                {% endif %}
                <div class="col-md-9">
                    <p class="mb-2 text-muted">
                        {% comment %} <span>{{data.on_date|date:"d M Y"}}</span> | {% endcomment %}
                        <span>{{data.category_id}}</span> |
                        <span>{{data.post_by}}</span>
                    </p>
                    <h2 class="fs-4">{{data.title}}</h2>
                    <p class="mb-0">{{data.sub_title|safe}}</p>
                </div>
            </div>
        </div>
    </a>
</div>

<!--Ads-->
{% if data.id|divisibleby:"3" %}
    {% include 'ads/horizontal.html' %}
{% endif %}

{% endfor %}
{% else %}
<div class="mt-5 d-flex justify-content-center">
    <div>
        {% if search_bar %}
        <p>Your search - <strong class="text-dark">{{search_bar}}</strong> - did not match any <Blogs></Blogs>.</p> 
        <p>Suggestions:</p>
            <ul>
                <li>Make sure that all words are spelled correctly.</li>
                <li>Try different keywords.</li>
                <li>Try more general keywords.</li>
                <li>Try fewer keywords.</li>
            </ul>
        {% else %}
        <h4 class="text-center">Product Not Found</h4>
        {% endif %}
    </div>
</div>
{% endif %}