{% extends 'base.html' %}
{% load static %}
{% block header %}
    {% include "header-blog.html" %}
{% endblock header %}

{% block title %}Blogs | {{site_name}}{% endblock %}

{% block content %}

    <section style="background: #fff">
        <div class="container-fluid">
            <div class="row pt-3">
                <div class="col-md-9">
                    
                    {% include 'blogs/card-item.html' %}

                    <div>
                        {% include "pagination.html" %}
                    </div>
                </div>
                <div class="col-md-3">
                    {% include 'blogs/sidebar.html' %}
                </div>
            </div>
        </div>
    </section>

{% endblock content %}