<!--Search bar-->
<div class="mb-2">
    <div>
        <form action="{% url 'searching' %}" method="get">
            <div class="d-flex">
                <input class="form-control rtw_input_box" type="text" name="q" placeholder="search here..." value="{{search_bar}}">
                <button type="submit" class="border-0 bg-transparent fs-4" style="margin-left:-2rem">
                    <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </form>
    </div>
</div>

<!--Right Recent Post-->
<div class="mt-4">
    <span class="bg-dark text-white p-1">Recent Posts</span>
    <p class="w-100" style="border-bottom:2px solid #000"></p>
</div>
<div class="mb-2">
    <div>
        {% for data in side_bar_title %}
        <div class="d-flex rtw-border-bottom py-2">
            <i class="fa-sharp fa-solid fa-angle-right me-2 mt-1" style="font-size:12px"></i>
            <a class="text-decoration-none text-dark blog-post-btn rtw_visited_link" href="{% url 'blog-detail' slug=data.slug %}">{{data.title}}</a>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Releted post -->
{% if related_post %}
<div class="mt-4">
    <span class="bg-dark text-white p-1">Related Posts</span>
    <p class="w-100" style="border-bottom:2px solid #000"></p>
</div>
<div class="mb-2">
    <div>
        {% for data in related_post %}
            {% if data.id != product.id %}
            <div class="d-flex rtw-border-bottom py-2">
                <i class="fa-sharp fa-solid fa-angle-right me-2 mt-1" style="font-size:12px"></i>
                <a class="text-decoration-none text-dark blog-post-btn rtw_visited_link" href="{% url 'blog-detail' slug=data.slug %}">{{data.title}}</a>
            </div>
            {%endif%}
        {% endfor %}
    </div>
</div>
{%endif%}

<!--Category-->
<div class="mt-4">
    <span class="bg-dark text-white p-1">Categories</span>
    <p class="w-100" style="border-bottom:2px solid #000"></p>
</div>
<div class="mb-3">
    <div>
        {% for data in blog_category %}
            <div class="d-flex rtw-border-bottom py-2">
                <i class="fa-sharp fa-solid fa-angle-right me-2 mt-1" style="font-size:12px"></i>
                <a class="text-decoration-none blog-post-btn text-dark rtw_visited_link" href="{% url 'category' cat_slug=data.slug %}">{{data.category_name}}</a>
            </div>
        {% endfor %}
    </div>
</div>

{% comment %} <!--Filter year wise-->
{% if month_date %}
<h2 class="mt-4">Months</h2>
<div class=">
    <div>
        {% for data in month_date %}
            <div class="border-bottom py-2">
                <a class="text-decoration-none blog-post-btn text-dark" href="">{{data}}</a>
            </div>
        {% endfor %}
    </div>
</div>
{% endif %} {% endcomment %}