{% extends 'base.html' %}
{% load static %}
{% block header %}
    {% include "header.html" %}
{% endblock header %}

{% block title %}About us | Real Tech World{% endblock %}

{% block content %}

<!-- About section -->
<section class="bg-white py-5" id="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="py-5 text-center">
                    <h1 class="main-title">About us</h3>
                </div>
                <div class="" style="text-align:justify; margin-bottom:10rem">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi corrupti dolorem optio atque? Incidunt odio, iste facere minima non aliquid modi earum veritatis, ut sint error, adipisci magni. Similique veniam provident quis minima a. Doloremque eius doloribus mollitia itaque consequuntur quaerat, nostrum et modi inventore molestias cum, distinctio iusto dignissimos esse cumque quo, aliquam nulla impedit perspiciatis quos ratione labore! Vitae cum veritatis ipsum incidunt reiciendis, pariatur vel eveniet voluptatem amet nam reprehenderit, odit quod dolorum voluptates atque, sint et nobis possimus tempora corrupti ex ea aut repudiandae eaque. Officiis alias nemo, quasi corrupti libero, at ut laudantium eveniet eaque quo nam!</p>
                    <p> Dolores alias natus incidunt mollitia rem cum at quis vero illum sint, corporis modi deleniti voluptatum. Quam neque dicta enim natus quo impedit, architecto non reprehenderit fuga deserunt beatae reiciendis aliquid eaque dolorem! Autem sapiente atque necessitatibus quas hic incidunt non illum alias corporis laborum? Sed deleniti maiores cumque ad vel rerum expedita earum, aspernatur nulla accusantium corrupti repellat modi. Eligendi fugiat quam dicta beatae at doloribus voluptatem. Eos voluptate repudiandae fugiat, laboriosam praesentium est voluptas fugit explicabo quaerat! Commodi hic corrupti cumque eligendi, vitae id officia repudiandae ipsa fugit fugiat quos accusantium dolor dignissimos illum eius nemo?</p>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock  %}