{% extends 'base.html' %}
{% load static %}
{% block header %}
    {% include "header.html" %}
{% endblock header %}

{% block title %}About us | Real Tech World{% endblock %}

{% block content %}

<!-- About section -->
<section class="bg-white py-5" id="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="py-5 text-center">
                    <h1 class="main-title">About us</h3>
                </div>
                <div style="text-align:justify; margin-bottom:10rem">
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock  %}