{% extends 'base.html' %}
{% load static %}
{% block header %}
    {% include "header.html" %}
{% endblock header %}

{% block title %}About us | Real Tech World{% endblock %}

{% block content %}

<!-- About section -->
<section class="bg-white py-5" id="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="py-5 text-center">
                    <h1 class="main-title">About us</h3>
                </div>
                <div class="" style="text-align:justify; margin-bottom:10rem">
                    <p class="">This is our portfolio website we are provide services that design, develop, and maintain websites. These services can include the creation of custom websites, redesigns of existing websites, ongoing maintenance and updates, and the integration of additional features such as e-commerce, social media, and analytics.</p>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock  %}