{% extends 'base.html' %}
{% load static %}
{% block header %}
    {% include "header.html" %}
{% endblock header %}

{% block title %}Contact us | Real Tech World{% endblock %}

{% block content %}


<!-- Contact Us -->
<section class="bg-light py-5" id="contact-us">
    <div class="container">
        <div class="text-center">
            <h1 class="main-title">contact us</h3>
        </div>
        {% for message in messages %}
        <div class="alert alert-info mt-2 text-center" role="alert">
            {{message}}
        </div>
        {% endfor %}
            <form action="{% url 'contact-us' %}" method="post">
                {% csrf_token %}
                <div class="d-flex justify-content-center py-2 fs-6">
                    <div class="col-md-8">
                        <input class="form-control rtw_input_box fs-6 py-3 mb-3 rounded-0" type="text" autocomplete="off" name="name" placeholder="ENTER YOUR NAME" required>
                        <input class="form-control rtw_input_box fs-6 py-3 mb-3 rounded-0" type="email" autocomplete="off" name="email" placeholder="ENTER YOUR EMAIL" >
                        <input class="form-control rtw_input_box fs-6 py-3 mb-3 rounded-0" type="number" autocomplete="off" name="mobile" placeholder="ENTER YOU MOBILE" required>
                        <textarea class="form-control rtw_input_box mt-3 p-2 rounded-0" name="message" autocomplete="off" cols="54" rows="8" placeholder="ENTER YOUR MESSAGE" style="border:1px solid #ddd;resize:none" required></textarea>
                        <div class="w-100 text-center">
                            <input type="submit" class="btn btn-danger fs-6 mt-3 text-uppercase " name="submit" value="Submit">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>


{% endblock  %}