{% load static %}
<footer style="background: linear-gradient(45deg, black, #025b64);">
    <div class="container py-5">
       <div class="row text-white">
          <div class="col-md-5">
            <h2 class="fs-3"><img height="100" src="{% static 'images/logo/logo.png' %}" alt=""></h2>
            <p>RealTechWorl one source for all things Website, SEO. We're dedicated to providing you the best of service, with a focus on dependability. customer service, and happiness.</p>
            <div>
              <p>Email: <a class="text-white text-decoration-none" href="mailto:rnm312000@gmail.com">rnm312000@gmail.com</a></p>
              <p>Contact No. 9807821070</p>
            </div>
          </div>
          <div class="col-md-3">
            <h2 class="fs-3">Links</h2>
            <ul class="">
               <li class="list-unstyled"><a class="text-decoration-none text-light" href="/">Home</a></li>
               <li class="list-unstyled"><a class="text-decoration-none text-light" href="/about-us">About us</a></li>
               <li class="list-unstyled"><a class="text-decoration-none text-light" href="/contact-us">Contact us</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h2 class="fs-3">Useful Links</h2>
            <ul class="">
               <li class="list-unstyled"><a class="text-decoration-none text-light" href="/tools">Tools</a></li>
               <li class="list-unstyled"><a class="text-decoration-none text-light" href="/blogs">Blogs</a></li>
            </ul>
          </div>
       </div>
    </div>
    <div class="p-2 text-white text-center" style="background-color:#000">
      <span>© {% now "Y" %}<a class="text-decoration-none" href="/"> RealTechWorld.in</a> . All Rights Reserved</span>
    </div>
</footer>
 
 