{% load static %}
<header class="header">
  <!-- <img src="images/thapa_logo.png" alt="thapa technical logo" class="logo" /> -->
   <div>
       <a class="text-light text-decoration-none" href="/">
            <img height="60" src="{% static 'images/logo/logo.png' %}" alt="real tech world">
       </a>
    </div>

  <nav class="navbar">
      <ul class="navbar-list mb-0">
          <li><a class="navbar-link" href="/">Home</a></li>
          <li><a class="navbar-link" href="/services">Services</a></li>
          {% comment %} <li><a class="navbar-link" href="/portfolio">Portfolio</a></li> {% endcomment %}
          {% comment %} <li><a class="navbar-link" href="/tools">tools</a></li> {% endcomment %}
          <li><a class="navbar-link" href="/blog">Blog</a></li>
          <li><a class="navbar-link" href="/quotes">Quotes</a></li>
          <li><a class="navbar-link" href="/contact-us">Contact Us</a></li>
      </ul>
  </nav>

  <div class="mobile-navbar-btn">
      <ion-icon name="menu-outline" class="mobile-nav-icon"></ion-icon>
      <ion-icon name="close-outline" class="mobile-nav-icon"></ion-icon>
  </div>
</header>