{% extends 'base.html' %}
{% load static %}
{% block header %}
    {% include "header.html" %}
{% endblock header %}
{% block title %}Our Portfolio | {{site_name}}{% endblock %}


{% block content %}

<!-- Our Portfolio -->
<section class="bg-light py-5" id="our-portfolio">
    <div class="py-5 text-center">
        <h1 class="main-title mb-5">Our Portfolio</h3>
    </div>
    <!--Ads-->
{% include 'ads/horizontal.html' %}
    <div class="container">
        <div class="row gy-3">
            {% if portfolio %}
            {% for p in portfolio %}
            <div class="col-md-6">
                <div class="portfolio-card card h-100">
                    {% if p.image %}
                    <img class="rtw-portfolio-image card-img-top w-100" src="{{p.image.url}}" alt="{{p.name}}">
                    {% endif %}
                    <div class="rtw-display-none">
                        <div class="rtw-portfolio-text ">
                            <a class="px-3" target="_blank" href="{{p.url}}">{{p.name}}<br><span style="font-size:16px">{{p.url}}</span></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
{% endblock content %}