{% extends 'base.html' %}
{% load static %}
{% block header %}
    {% include "header.html" %}
{% endblock header %}
{% block title %}Our Services | {{site_name}}{% endblock %}


{% block content %}

<!-- Our Services -->
<section class="bg-light py-5" id="our-services">
    <div class="py-5 text-center">
        <h1 class="main-title mb-5">Our Services</h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card h-100">
                    <img class="w-100" height="250" src="{% static 'images/service1.jpg' %}" class="card-img-top" alt="static website">
                    <div class="card-body">
                        <h2 class="text-uppercase text-center fs-6 mt-2 mb-3">Static website development</h2>
                      <p class="card-text">Static web development refers to the building of websites using only HTML, CSS, and JavaScript. These websites do not require a database or any server-side code, and the content is delivered directly to the user's browser.</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100">
                    <img class="w-100" height="250" src="{% static 'images/service2.jpg' %}" class="card-img-top" alt="Dynamic website">
                    <div class="card-body">
                        <h2 class="text-uppercase text-center fs-6 mt-2 mb-3">Dynamic website development</h2>
                      <p class="card-text">Dynamic web development refers to the building of websites using server-side languages and databases. These websites can change content and behavior based on user interactions and data from the server.</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100">
                    <img class="w-100" class="w-100" height="300" src="{% static 'images/WordPress_blue_logo.jpg' %}" class="card-img-top" alt="wordwrap">
                    <div class="card-body">
                        <h2 class="text-uppercase text-center fs-6 mt-2 mb-3">WordPress Website</h2>
                      <p class="card-text">Create a free website or build a blog with ease on WordPress.com. Dozens of free, customizable, mobile-ready designs and themes.</p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}